.mantine-Modal-title {
  font-weight: 800;
}

button {
  i{
    margin: 0 0.2rem 0 0;
  }
}

.save{
  text-decoration: underline;
  color: var(--mantine-color-blue-6);
  font-weight: 600;
  cursor: pointer;
}
